.cold .content{
    background:#9fa8da!important
}
.hot .content{
    background: #ffab91!important
}
.warm .content{
    background: #ffe082!important
}
.userChoice .content{
    background-color: #a5d6a7!important
  }
  